body{
background-color: rgb(148, 170, 221);
}
.form-container{
    width: fit-content;
    margin: -20px auto;
    
}
input{
    min-width: 400px;
   height: 40px;
    border-radius: 5px;
    border-color:rgb(123, 161, 199);
}
button{
    width: fit-content;
    margin-left: 10px;
    margin-bottom: 5px;
    height: 40px;
}
.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}